<!DOCTYPE html>
<html>
<head>
  <title>Koblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span>Koblog</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <%= link_to 'Выйти', destroy_user_session_path , class:"btn btn-default navbar-btn navbar-right", :method => :delete %>
      <% else %>
        <%= link_to 'Регистрация', new_user_registration_path , class:"btn btn-default navbar-btn navbar-right", style: "margin-left:10px;" %> 
        <%= link_to 'Войти', new_user_session_path , class:"btn btn-default navbar-btn navbar-right" %>
      <% end %>  
    </div>
    
  </div>
</nav>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
